{% extends 'extends/base.html' %}
{% load bootstrap5 %}
{% block content %}
    <h1 class="text-center">Delete Post</h1>
    <h3>Are you sure you want to delete "{{ post.title }}" ?</h3>
    <form action="{% url "post_delete" post.id %}" method="POST" class="form">
        {% csrf_token %}
        {% buttons %}
            <a href="{% url 'posts_list' %}" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary">Confirm</button>
        {% endbuttons %}
    </form>
{% endblock %}